<div class="event">
  <div class="content">
    <div class="summary">
      <em><%= message.user.fullname %></em>: <%= message.body %>
    </div>
  </div>
</div>


<div class="message">
  <p>
    <small><em>Created <%= time_ago_in_words(message.created_at) %> ago</em></small>
  </p>
  <p>
    <%= gravatar_for(message.user, size: 50) %>  
    <strong><%= message.user.fullname.capitalize %></strong>
    <span class="content">
      <%= message.body %>
    </span>
  </p>
</div>

<div class="event">
  <div class="content">
    <div class="summary">
      <em><%= message.user.fullname %></em>: <%= message.body %>
    </div>
  </div>
</div>