<%= form_for @article do |form| %>
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title, autofocus: true, placeholder:"Title" %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body, placeholder:"Body" %><br>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :category %><br>
    <%= form.collection_select(:category_ids, Category.all, :id, :name,
    { prompt: "Make your selection from the list below (can be empty)"}, { multiple: true }) %><br>
    <% @article.errors.full_messages_for(:category_ids).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Submit", class: "ui submit basic button positive " %>
  </div>
<% end %>

