




<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<h2>Comments</h2>
<% if @article.comments != 0 %>
  <div id="messages">
    <%=render partial: "comments/comments", object: @comments %>
  </div>
  <% else %>
 <h3> No Comments Yet! </h3>
 <% end %>
  

 <% if user_signed_in? %>
<h2>Add a comment:</h2>
<%= form_for([ @article, @comment ], remote: true) do |form| %>
  
  <p>
    <%= form.label :body, "Comment" %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit "Submit" %>
  </p>
<% end %>
<% end %>