<%= form_for([@project]) do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% project.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :details %><br>
    <%= form.text_area :details %><br>
    <% project.errors.full_messages_for(:details).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>