<div class="ui grid custom_margin">
  <div class="two wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="item">
        Profile
      </a>
      <a class="active item">
       Projects
      </a>
      <a class="item">
        My Journal
      </a>
      <a class="item">
        Messenger
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">

    <div class="ui segment">
      <div class="ui card">
        <div class="content">
          <div class="header">Projects</div>
        </div>    
        <%= link_to 'New Project', new_project_path, class: "ui btn" %>
        <% @projects.each do |project| %>
          <%= link_to project, class: 'text-decoration-none' do %>  
            <div class="ui sub header">
              <%= project.title %>
            </div>
            <div class="ui small feed">
              <%= project.details %>
            </div>     
            (<%= project.total_tasks%> tasks)    
          <% end %>
        <% end %>    
      </div>
    </div>
  </div>
  <div class="two wide column">
    <div class="ui segment">
    </div>
  </div>
</div>
