<div class="ui grid custom_margin">
  <div class="two wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="item">
        Profile
      </a>
      <a class="active item">
        Projects
      </a>
      <a class="item">
        My Projects
      </a>
      <a class="item">
        Messenger
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      <div class="ui grid">
        <div class="four wide column">
          <%= link_to  projects_path, class: "ui basic button positive" do %>
            <i class="angle left icon"></i> Back
          <% end %>
          <% if @project.users.include? current_user %>
            <button class="ui positive basic btnModalEdit button">
                <i class="edit icon"></i>Edit
            </button>
          <% end %>   
        </div> 

        <div class="four wide column">
          <h2 class="ui header">
            <%= @project.title.capitalize %>
          </h2>
        </div>

        <div class="four wide column">
          <% if @project.users.include? current_user %>
            <button class="ui icon positive basic btnModalAdd button">
                <i class="add icon"></i>
            </button>
          <% end %>
          <% if @project.users.any? %>
            <% @project.users.each do |user| %>
              <%= image_tag user.avatar, class: 'ui avatar image activating element', data: {title: user.full_name} %>
            <% end %>
          <% end %>  
        </div>

      <div class="four wide column">
        <div class="ui right aligned">
          <%= time_ago_in_words(@project.updated_at) %> ago
        </div>
      </div>
    </div>

    <div class="ui padded green segment">
      <div class="description">
        <%= @project.details %>
      </div>
    </div>
  
      <div class="ui comments">
        <h3 class="ui dividing header">Tasks</h3>
        <% if @project.tasks != 0 %>
          <div id="messages">
            <%= render(partial: 'tasks/tasks', object: @task) %>
          </div>
        <% else %>
          <h3> No Comments Yet! </h3>
        <% end %>
   
        <% if user_signed_in? %>
          <%= form_for([ @project, @task ], class: 'ui reply form') do |form| %>
            <div class="field">
              <%= form.text_area :title, placeholder: "Enter a task" %>
            </div>
            <div class="actions">
              <%= form.submit "Add Reply" ,class: "ui submit basic button positive " %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="ui modal edit ">
  <i class="close icon"></i>
  <div class="ui row">
    <div class="ui four wide column segment">
      <h2 class="ui center aligned dividing header">Edit Project</h2>
      <div class="ui form ">
        <%= render "form" %>
      </div>
    </div>
  </div> 
</div>

<div class="ui modal add">
  <i class="close icon"></i>
  <div class="ui row">
    <div class="ui four wide column segment">
      <h2 class="ui center aligned dividing header">Add User</h2>
      <div class="ui form ">
        <%= render "add_form" %>
      </div>
    </div>
  
</div>















