<div class="ui grid custom_margin">
  <div class="two wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="item">
        Profile
      </a>
      <a class="active item">
        Projects
      </a>
      <a class="item">
        My Projects
      </a>
      <a class="item">
        Messenger
      </a>
    </div>
  </div>


  <div class="twelve wide stretched column">
    <div class="ui segment">
      <div class="ui grid">
        <%= render 'board', obj: @project %>
        <%= render 'tasks/tasks', obj: @tasks %>
      </div>
    </div>
  </div>
</div>
 
<div class="ui modal edit ">
  <i class="close icon"></i>
  <div class="ui row">
    <div class="ui four wide column segment">
      <h2 class="ui center aligned dividing header">Edit Project</h2>
      <div class="ui form ">
        <%= render "form" %>
      </div>
    </div>
  </div> 
</div>

<div class="ui mini modal add">
  <i class="close icon"></i>
  <div class="ui row">
    <div class="ui four wide column segment">
      <h2 class="ui center aligned dividing header">Add a Member to a Team</h2>
      <div class="ui form ">
        <%= render "add_form" %>
      </div>
    </div>
  </div>
</div>

<div class="ui modal addTaskBacklog ">
  <i class="close icon"></i>
  <div class="ui row">
    <div class="ui four wide column segment">
      <h2 class="ui center aligned dividing header">Add Task</h2>
      <div class="ui form ">
        <%= render "tasks/form_task_backlog" %>
      </div>
    </div>
  </div> 
</div>

<div class="ui modal addTaskInProgress ">
  <i class="close icon"></i>
  <div class="ui row">
    <div class="ui four wide column segment">
      <h2 class="ui center aligned dividing header">Add Task</h2>
      <div class="ui form ">
        <%= render "tasks/form_task_in_progress" %>
      </div>
    </div>
  </div> 
</div>

<div class="ui modal addTaskInReview ">
  <i class="close icon"></i>
  <div class="ui row">
    <div class="ui four wide column segment">
      <h2 class="ui center aligned dividing header">Add Task</h2>
      <div class="ui form ">
        <%= render "tasks/form_task_in_review" %>
      </div>
    </div>
  </div> 
</div>

<div class="ui modal addTaskDone ">
  <i class="close icon"></i>
  <div class="ui row">
    <div class="ui four wide column segment">
      <h2 class="ui center aligned dividing header">Add Task</h2>
      <div class="ui form ">
        <%= render "tasks/form_task_done" %>
      </div>
    </div>
  </div> 
</div>















