<div class="ui grid custom_margin">
  <div class="two wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="item">
        Profile
      </a>
      <a class="active item">
        Projects
      </a>
      <a class="item">
        My Projects
      </a>
      <a class="item">
        Messenger
      </a>
    </div>
  </div>

  <div class="twelve wide stretched column">
    <div class="ui segment">
      <div class="ui grid">
        <div class="four wide column">
          <%= link_to  projects_path, class: "ui basic button positive" do %>
            <i class="angle left icon"></i> Back
          <% end %>
          <% if @project.users.include? current_user %>
            <button class="ui positive basic btnModalEdit button">
                <i class="edit icon"></i>Edit
            </button>
          <% end %>   
        </div> 

        <div class="four wide column">
          <h2 class="ui header">
            <%= @project.title.capitalize %>
          </h2>
        </div>

        <div class="four wide column">
          <% if @project.users.include? current_user %>
            <button class="ui icon positive basic btnModalAdd button">
                <i class="add icon"></i>
            </button>
          <% end %>
          <% if @project.users.any? %>
            <% @project.users.each do |user| %>
              <%= image_tag user.avatar, class: 'ui avatar image activating element', data: {title: user.full_name} %>
            <% end %>
          <% end %>  
        </div>

        <div class="four wide column">
          <div class="ui right aligned">
            <%= time_ago_in_words(@project.updated_at) %> ago
          </div>
        </div>
      </div>

      <div class="ui grid green segment">
        <div class="sixteen wide column">
          <div class="description">
            <%= @project.details %>
          </div>
        </div>

        <div class="four wide column ">
          <div class="ui segment heightask ">
          <% if @project.users.include? current_user %>
            <button class="ui icon positive basic btnModalAddTaskBacklog button">
              <i class="add icon"></i>
            </button>
            <% end %>
            <h4 class="ui center aligned header">Backlog</h4>
            <% if @project.tasks != 0 %>
              <% @tasks.each do |task| %>
                <% if task.status === "backlog" %>
                  
                    <%= render(partial: 'tasks/task', object: task) %>
                 
                <% end %>
              <% end %>
            <% end %> 
          </div>
        </div>

        <div class="four wide column ">
          <div class="ui segment heightask">
          <% if @project.users.include? current_user %>
            <button class="ui icon positive basic btnModalAddTaskInProgress button">
              <i class="add icon"></i>
            </button>
          <% end %>
            <h4 class="ui center aligned header">In Progrees</h4>
            <% if @project.tasks != 0 %>
              <% @tasks.each do |task| %>
                <% if task.status === "in-progress" %>
                  
                    <%= render(partial: 'tasks/task', object: task) %>
                 
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="four wide column ">
          <div class="ui segment heightask">
          <% if @project.users.include? current_user %>
            <button class="ui icon positive basic btnModalAddTaskInReview button">
              <i class="add icon"></i>
            </button>
          <% end %>
            <h4 class="ui center aligned header">In Review</h4>

            <% if @project.tasks != 0 %>
              <% @tasks.each do |task| %>
                <% if task.status === "in-review" %>
                  
                    <%= render(partial: 'tasks/task', object: task) %>
               
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="four wide column ">
          <div class="ui segment heightask">
          <% if @project.users.include? current_user %>
            <button class="ui icon positive basic btnModalAddTaskDone button">
              <i class="add icon"></i>
            </button>
          <% end %>
            <h4 class="ui center aligned header">Done</h4>

            <% if @project.tasks != 0 %>
              <% @tasks.each do |task| %>
                <% if task.status === "done" %>
                  
                    <%= render(partial: 'tasks/task', object: task) %>
                  
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui modal edit ">
  <i class="close icon"></i>
  <div class="ui row">
    <div class="ui four wide column segment">
      <h2 class="ui center aligned dividing header">Edit Project</h2>
      <div class="ui form ">
        <%= render "form" %>
      </div>
    </div>
  </div> 
</div>

<div class="ui mini modal add">
  <i class="close icon"></i>
  <div class="ui row">
    <div class="ui four wide column segment">
      <h2 class="ui center aligned dividing header">Add User</h2>
      <div class="ui form ">
        <%= render "add_form" %>
      </div>
    </div>
  </div>
</div>

<div class="ui modal addTaskBacklog ">
  <i class="close icon"></i>
  <div class="ui row">
    <div class="ui four wide column segment">
      <h2 class="ui center aligned dividing header">Add Task</h2>
      <div class="ui form ">
        <%= render "tasks/form_task_backlog" %>
      </div>
    </div>
  </div> 
</div>

<div class="ui modal addTaskInProgress ">
  <i class="close icon"></i>
  <div class="ui row">
    <div class="ui four wide column segment">
      <h2 class="ui center aligned dividing header">Add Task</h2>
      <div class="ui form ">
        <%= render "tasks/form_task_in_progress" %>
      </div>
    </div>
  </div> 
</div>

<div class="ui modal addTaskInReview ">
  <i class="close icon"></i>
  <div class="ui row">
    <div class="ui four wide column segment">
      <h2 class="ui center aligned dividing header">Add Task</h2>
      <div class="ui form ">
        <%= render "tasks/form_task_in_review" %>
      </div>
    </div>
  </div> 
</div>

<div class="ui modal addTaskDone ">
  <i class="close icon"></i>
  <div class="ui row">
    <div class="ui four wide column segment">
      <h2 class="ui center aligned dividing header">Add Task</h2>
      <div class="ui form ">
        <%= render "tasks/form_task_done" %>
      </div>
    </div>
  </div> 
</div>













