<h1>
  <%= @room.name %>
</h1>

<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="chat">
      <% @messages.each do |message| %>
        <div class="chat-message-container">
          <div class="row no-gutters">
          <div class="col-auto text-center">
          <%= image_tag message.user.avatar, class: 'ui avatar image' %>
          
        </div>

            <div class="col">
              <div class="message-content">
                <p class="mb-1">
                  <%= message.body %>
                </p>

                <div class="text-right">
                  <small>
                    <%= message.created_at %>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= form_for @message, remote: true do |form| %>
      <div class="input-group mb-3">
        <%= form.text_area :body, as: :string,
                                 wrapper: false,
                                 label: false,
                                 input_html: {
                                   class: 'chat-input'
                                 } %>
        <div class="input-group-append">
          <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
        </div>
      </div>

      <%= form.number_field :room_id, as: :hidden %>
    <% end %>
  </div>
</div>